{% extends 'blog/base.html' %}
{% block logo %}
Blog
{%endblock%}
{% block title %}
New Post
{% endblock %}
{% block body %}

<div class="content-section">
 <form action="" method="POST">
  {% csrf_token %}
  <fieldset class="form-group">
   <legend class="border-bottom mb-4">Blog Post</legend>
   <div class="md-form form-sm ">
    <p style="color:azure;">-</p></i>
    {{form.title}}
    <label for="form33">Title</label>
    <div class="text-danger mt-2" style="font-size: x-small;">{{form.title.errors}}</div>
   </div>
   <div class="md-form form-sm ">
    <p style="color:azure;">-</p></i>
    {{form.category}}
    <label for="form33">Category</label>
    <div class="text-danger mt-2" style="font-size: x-small;">{{form.title.errors}}</div>
   </div>
   <div class="md-form form-sm ">
    
    <p style="color:azure;">-</p></i>
    {{form.tag}}
       <label for="form3">Tag</label>

   </div>

   <div class="md-form form-sm ">
    <p style="color:azure;">-</p> 
    {{form.media}}
    {{form.content}}
    <label  for="form33">Content</label>
    <div class="text-danger mt-2" style="font-size: x-small;">{{form.content.errors}}</div>
   </div>
   
  </fieldset>
  <div class="form-group">
   <button class="btn btn-info " style="width: 100px;" type="submit">Post</button>
   <input style="width: 100px;" value="Cancle" type="button" class="btn btn-primary" onclick="history.go(-1)">
  </div>
 </form>

</div>
{% endblock %}